<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.hypermurea.phonegap.wp8-datetimepicker-plugin"
    version="0.0.1">

	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>
	
	<name>Datetimepicker (for WP8)</name>
	
	<description>Provides date/time picker controls for Phonegap and WP8</description>
	<author>Jaakko Santala</author>
	
	<keywords>datepicker wp8</keywords>
	<license></license>
	
	<js-module src="www/datetimepicker.js" name="datetimepicker">
		<clobbers target="navigator.datetimepicker"/>
	</js-module>
	
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
            <feature name="DateTimePicker">
                <param name="wp-package" value="DateTimePicker"/>
            </feature>
        </config-file>
		
		<source-file src="src/DateTimePicker.cs"/>
		<source-file src="src/DateTimePickerTask.cs"/>
		<source-file src="src/packages.config" target-dir="../"/>
	</platform>
	

	
</plugin>